.App {
  text-align: center;
  margin: 15px auto;
  width: 680px;
  background: #dddddd;
  padding: 20px;
}

.todo-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
} 

.form {
  display: flex;
  width: 280px;
  margin: 0 auto;
}

h4 {
  color: white;
  border-bottom: 1px solid white;
  position: relative;
  width: 280px;
  display: flex;
}

button {
  background: transparent;
  border-radius: 3px;
  border: 2px solid white;
  color: white;
  margin: 0 1em;
  padding: 0.25em 1em;
}

input {
  padding: 0.5em;
  margin: 0.5em;
  background: white;
  border: none;
  border-radius: 3px;
}

h1 {
  color: white;
}

i {
  position: absolute;
  right: 12px;
  top: 4px;
}